.grid:first-child {
  color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;
  /* grid-auto-flow: row; */
  grid-auto-columns: 100px;
  height: 100vh;

  place-content: center end;
  justify-content: center;
  align-content: stretch;
}

.grid:last-child {
  color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: 100px;
  grid-auto-rows: 100px;
  /* grid-auto-flow: row; */
  grid-auto-columns: 100px;
  height: 100vh;

  place-content: center end;
  justify-content: center;
  align-content: stretch;
}

/* .child {
  flex-basis: 30%;
  background: peru;
  color: white;
  font-size: 50px;
} */

.header {
  background-color: #2ecc71;
  /* grid-area: header; */
  /* grid-column: 1/ -1; */
  /* grid-column: span 4; */
  align-self: end;
  justify-self: center;
  place-self: end center;
}
.content {
  background-color: #3498db;
  /* grid-area: content; */
  /* grid-column: 1/-2; */
  /* grid-column: span 2; */
  /* grid-row: 2/-2; */
  /* grid-row: 2 / span 2; */
  /* grid-row: span 2; */
  /* grid-column: first-line / fourth-line; */
  /* grid-row: row-line 1 / row-line 3; */
}
.nav {
  background-color: #8e44ad;
  /* grid-area: nav; */
  /* grid-row: 2 / 4; */
  /* grid-row: span 2; */
}
.footer {
  background-color: #f39c12;
  /* grid-area: footer; */
  /* grid-column: span 4; */
}
